@media (max-width:1200px){
    header nav{
        padding: 0.2rem 1rem !important;
    }
    header nav img{
        width: 175px;
    }
    header nav *{
        font-size: 15px !important;
    }
    header nav .nav-item{
        margin: 0 !important;
        margin-right: 5px !important;
    }
    header .content .landing-rotate{
        width: 90%;
        bottom: -30%;
    }
    header .landing-page h1{
        font-size: 6vmin;
    }
    header .landing-slider-parent{
        width: 100%;
    }
    header .landing-slider{
        clip-path: polygon(30% 0, 100% 0, 100% 75%, 70% 100%, 0 100%, 0 25%);
    }
}
@media (max-width:950px){
    header .landing-slider{
        clip-path: polygon(20% 0, 100% 0, 100% 75%, 80% 100%, 0 100%, 0 25%);
    }
    header .landing-slider-parent .slider-btn{
        top: 80%;
        left: 80%;
        transform: rotate(320deg) !important;
    }
    nav .navbar-toggler .img-fluid{
        width: 3vmin;
        margin-right: 0.5rem !important;
    }
}
@media (max-width:768px){
    header .content .landing-rotate{
        width: 80%;
        top: 70%;
        left: 10%;
    }
    nav .logo{
        width: 200px !important;
    }
    nav .nav-item{
        margin: 0 !important;
    }
    header .landing-page [class*=col-]:first-child img{
        display: none !important;
    }
    header .landing-page h1{
        font-size: 8vmin;
    }
    nav .navbar-toggler .img-fluid{
        width: 3.5vmin;
    }
    footer:before{
        background: url("../assets/backgrounds/footer-back.png") !important;
        background-size: cover !important;
        background-position: bottom right !important;
        background-repeat: no-repeat !important;
    }
    footer .footer-col.one img{
        width: 200px;
        margin-bottom: 0.5rem;
    }
    footer .footer-col.one div:last-child{
        margin-bottom: 1.5rem !important;
    }
    footer .footer-col.three h3{
        margin-top: 1.5rem !important;
    }
    footer .footer-col.three input{
        margin-bottom: 0 !important;
    }
    footer .footer-col.three p{
        margin-top: 2rem !important;
    }
    footer .footer-col.three div{
        margin-bottom: 1.5rem !important;
    }
}
@media (max-width:500px){
    header .content .landing-rotate{
        width: 80%;
        top: 80%;
        left: 10%;
    }
    header .landing-page a{
        font-size: 14px !important;
    }
    nav .navbar-toggler .img-fluid{
        width: 5vmin;
    }
}
@media (max-width:400px){
    header .landing-page ul li{
        font-size: 10px;
    }
}