@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Nunito&family=Poppins&display=swap');
/* fonts */
/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Lobster', cursive;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    position: relative;
}
header{
    /* background: url("../assets/backgrounds/bg-1.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat; */
    position: relative;
    background: #f7fafc !important;
}
header:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0098d61a;
    clip-path: polygon(100% 0%, 100% 40%, 40% 100%, 0 100%);
    z-index: 1;
    opacity: 0.8;
}
header:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 25vmin;
    height: 25vmin;
    background:#0099d611;
    z-index: 1;
    animation: ani-rotate 20s linear infinite;
}
header .landing-page{
    min-height: 100vh;
}
header .landing-page [class*=col-]{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    /* border: 1px solid; */
}
header .landing-page [class*=col-]:first-child img{
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
}
header .landing-page [class*=col-]:last-child{
    height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
header .landing-page h4{
    font-family: 'Lobster', cursive;
}
header .landing-page ul{
    display: flex;
}
header .landing-page ul li{
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    margin-right:0.5rem;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    box-shadow:  0 0 5px #adb6cf;
    background:linear-gradient(to right, #00445f 0%, #0098d6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    background-clip: text;
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
}
header .landing-page ul li:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:white;
    opacity: 1 !important;
    z-index: -1;
}
header .landing-page ul li:hover{
    background:linear-gradient(to left, #00445f 0%, #0098d6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
header .landing-page h1{
    font-size: 8vmin;
}
header .landing-page h1 span{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
header .landing-page h1 span:last-child{
    margin-right: 0.5rem;
}
header .landing-page p{
    width: 80%;
}
header .landing-page .btn-row{
    margin: 1rem 0;
}
header .landing-page a{
    text-decoration: none;
    list-style-type: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5vmin;
    border: 1px solid #00cad6;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    background-image: linear-gradient(to right, #0098d6 0%, #00cbd6 100%);
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease;
}
header .landing-page a:hover{
    background: white;
    color: #363636;
}
header .content .landing-rotate{
    position: absolute;
    width: 80%;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.5;
    -webkit-animation: ani-rotate 50s linear infinite;
    animation: ani-rotate 50s linear infinite;
}
@keyframes ani-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
nav{
    padding: 0 1rem!important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    background: white;
}
nav img{
    max-width: 200px !important;
    margin-right: 1rem;
}
nav .nav-item{
    height: 100% !important;
    padding: 0 !important;
    margin: 0 0.5rem !important;
}
nav .nav-item .nav-link{
    color: #363636 !important;
}
nav .nav-item .dropdown-menu{
    top: 150%;
    border-radius: 0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border: none !important;
}
nav .nav-item .dropdown-menu a{
    padding: 0.5rem 1rem;
    border-left: 2px solid #fff;
}
nav .nav-item .dropdown-menu a:hover{
    background: #00cbd60c;
    border-left: 2px solid #00cad6;
}
nav .search_field{
    width:100%;
    height: 100%;
    position: relative;
}
nav .search_field input{
    width: 100% !important;
    height: 100%;
    border: none;
    background: none;
    /* border: 1px solid #ccc; */
    box-shadow: inset 3px 3px 3px #cbced1,
                inset -3px -3px 3px #f0f4f7;
    /* padding:0.5rem 3rem 0.5rem 15px !important; */
    padding: 0.5rem 3rem 0.5rem 1rem !important;
    border-radius: 5px;
    color: #363636;
    outline: none;
}
nav .search_field .fas{
    position: absolute;
    top: 47%;
    right: 2%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #666;
    cursor: pointer;
}
::-webkit-input-placeholder{
    color: #9fa3b1;
}
::-moz-input-placeholder{
    color: #9fa3b1;
}
::-ms-input-placeholder{
    color: #9fa3b1;
}
nav .navbar-toggler{
    outline: none;
}
nav .navbar-toggler img{
    opacity: 0.8;
}
header .landing-slider-parent{
    position: relative;
    width: 80%;
    margin: auto;
    /* filter: drop-shadow( 0 0 3px rgba(0, 0, 0, 0.5)); */
    padding: 1rem !important;
}
header .landing-slider-parent .drop-shadow{
    filter: drop-shadow( 0 0 3px #0099d681);
}
header .slider-img{
    width: 100% !important;
    border-radius: 5px;
}
header .landing-slider{
    clip-path: polygon(30% 0, 100% 0, 100% 80%, 70% 100%, 0 100%, 0 20%);
}
header .landing-slider .slick-dots{
    display: none !important;
}
header .landing-slider-parent .slider-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85%;
    left: 78%;
    transform: rotate(335deg) !important;
}
header .landing-slider-parent .slider-btn img{
    width: 3vmin !important;
    opacity: 0.8;
}


.section-1{
    min-height: 100vh;
    position: relative;
}
.section-1:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0098d61a;
    /* clip-path: polygon(100% 0%, 100% 40%, 40% 100%, 0 100%); */
    clip-path: polygon(0 0, 40% 0, 100% 60%, 100% 90%);
    z-index: -100;
    opacity: 0.8;
}
.section-1:before{
    content: '';
    position: absolute;
    bottom: 15%;
    left: 3%;
    width: 25vmin;
    height: 25vmin;
    border-radius: 100%;
    background:#0099d62f;
    z-index: -100;
    animation: zoom 5s linear infinite;
}